.features {
  display: flex;
  align-items: center;
  padding: 0rem 0;
  width: 100%;
}

.features a {
  text-decoration: none;
}

.featureSvg {
  /* height: 200px; */
  width: 100px;
  height: auto;
}