/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo used on the homepage header */
.homepage-logo {
  display: block;
  margin: 1rem auto;
  max-width: 240px;
  width: 50%;
  height: auto;
  border: none;
}
